aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
asttokens
async-timeout
attrs
blinker
cachetools
certifi
chardet
charset-normalizer
click
comm
dataclasses-json
debugpy
decorator
distro
et_xmlfile
exceptiongroup
executing
faiss-cpu
fpdf
frozenlist
gitdb
GitPython
greenlet
h11
httpcore
httpx
httpx-sse
idna
importlib_metadata
ipykernel
ipython
jedi
Jinja2
jiter
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langgraph
langsmith
markdown-it-py
MarkupSafe
marshmallow
matplotlib-inline
mdurl
multidict
mypy-extensions
narwhals
nest-asyncio
numpy
openai
opencv-python
opencv-python-headless
openpyxl
orjson
packaging
pandas
parso
pdf2image
pexpect
pillow
platformdirs
prompt_toolkit
propcache
protobuf
psutil
ptyprocess
pure_eval
pyarrow
pydantic
pydantic-settings
pydantic_core
pydeck
Pygments
PyMuPDF
pypdf
PyPDF2
pytesseract
python-dateutil
python-docx
python-dotenv
pytz
PyYAML
pyzmq
referencing
regex
reportlab
requests
requests-toolbelt
rich
rpds-py
sentence-transformers
six
smmap
sniffio
SQLAlchemy
stack-data
streamlit
tenacity
tiktoken
toml
tornado
tqdm
traitlets
typing-inspect
typing_extensions
tzdata
urllib3
watchdog
wcwidth
XlsxWriter
yarl
zipp